
# ===== Ignore builds from cocotb =====
__pycache__/
build/
sim_build/
results.xml
dump.vcd
dmem.mem
rf.mem
csrf.mem
verif/DUT-pakrv.signature

# ===== Ignore local vscode setup files
.vscode/

# ===== Ignore compliance related files
riscof_work/
verilator_work/
pakrv_dump.vcd

#test build dir
obj/

